---
import Container from './Container.astro'

const freePlan = {
	title: '免费',
	price: '0',
	unit: '¥',
	features: [
		'无广告',
		'密码解锁',
		'系统信息',
		'CPU 各核心状态',
		'内存及交换区用量',
		'网卡IO、各个网卡用量统计',
		'磁盘IO、各个磁盘用量统计'
	],
	tips: '永久免费',
	button: 'Get Started'
}

const lifetimePlan = {
	title: '终身计划',
	price: '45',
	unit: '¥',
	subscript: '/ 终身',
	features: [
		'包含所有免费功能',
		'生物特征 (FaceID、TouchID) 解锁',
		'进程管理',
		'各个硬件温度（稍后推出）',
		'GPU 基础信息（稍后推出）',
		'SSH 终端（稍后推出）',
		'所有后续新功能',
		'一次性付费'
	],

	button: 'Get Started'
}

const annualPlan = {
	title: '年度计划',
	price: '18',
	unit: '¥',
	subscript: '/ 年',
	features: [
		'包含所有免费功能',
		'生物特征 (FaceID、TouchID) 解锁',
		'进程管理',
		'各个硬件温度（稍后推出）',
		'GPU 基础信息（稍后推出）',
		'SSH 终端（稍后推出）',
		'所有后续新功能'
	],
	tips: '按年付费',
	button: 'Get Started'
}
---

<div id='Pricing' class='relative py-10'>
	<Container>
		<div class='m-auto text-center lg:w-7/12'>
			<h2
				class='text-2xl font-bold text-gray-800 dark:text-white md:text-4xl'
			>
				价格
			</h2>
		</div>
		<div
			class='mt-12 grid items-center gap-6 md:grid-cols-2 lg:flex xl:space-x-6'
		>
			<div class='group relative md:col-span-1 lg:w-[32%]'>
				<div
					aria-hidden='true'
					class='absolute top-0 h-full w-full rounded-3xl border border-gray-100 dark:border-gray-700 bg-white dark:bg-gray-800 shadow-2xl shadow-gray-600/10 dark:shadow-none transition duration-500 group-hover:scale-105 lg:group-hover:scale-110'
				>
				</div>
				<div class='relative space-y-8 p-8'>
					<h3
						class='text-center text-3xl font-semibold text-gray-700 dark:text-white'
					>
						{freePlan.title}
					</h3>
					<div class='relative flex justify-around'>
						<div class='flex'>
							<span
								class='-ml-2 mt-2 text-3xl font-bold text-primary dark:text-primary-dark'
								>{freePlan.unit}</span
							>
							<span
								class='leading-0 text-8xl font-bold text-gray-800 dark:text-white'
								>{freePlan.price}</span
							>
						</div>
					</div>
					<span
						class='block text-center text-xs text-primary dark:text-primary-dark'
						>{freePlan.tips}</span
					>
					<ul
						role='list'
						class='m-auto w-max space-y-4 pb-6 text-gray-600 dark:text-gray-300'
					>
						{
							freePlan.features.map(feature => (
								<li class='space-x-2'>
									<span class='font-semibold text-primary  dark:text-primary-dark'>
										&check;
									</span>
									<span>{feature}</span>
								</li>
							))
						}
					</ul>
					<button
						class='relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-xl before:bg-sky-50 before:border before:border-sky-500 dark:before:border-gray-600 dark:before:bg-gray-700 before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95'
					>
						<span
							class='relative text-base font-semibold text-sky-600 dark:text-white'
							>{freePlan.button}</span
						>
					</button>
				</div>
			</div>
			<div class='group relative row-start-1 md:col-span-2 lg:w-[36%]'>
				<div
					aria-hidden='true'
					class='absolute top-0 h-full w-full rounded-3xl border border-gray-100 dark:border-gray-700 bg-white dark:bg-gray-800 shadow-2xl shadow-gray-600/10 dark:shadow-none transition duration-500 group-hover:scale-105 lg:group-hover:scale-110'
				>
				</div>
				<div class='relative space-y-8 p-8'>
					<h3
						class='text-center text-3xl font-semibold text-gray-700 dark:text-white'
					>
						终身计划
					</h3>
					<div class='overflow-hidden'>
						<div class='ml-12 flex items-end justify-center'>
							<div class='flex'>
								<span
									class='-ml-6 mt-2 text-3xl font-bold text-primary dark:text-primary-dark'
									>{lifetimePlan.unit}</span
								>
								<span
									class='leading-0 text-8xl font-bold text-gray-800 dark:text-white'
									>{lifetimePlan.price}</span
								>
							</div>
							<div class='mb-2'>
								<span
									class='block text-xl font-bold text-primary dark:text-primary-dark'
									>{lifetimePlan.subscript}</span
								>
							</div>
						</div>
						<span
							class='m-auto mt-4 block w-max rounded-full bg-gradient-to-r from-yellow-300 to-pink-300 px-4 py-1 text-sm font-medium text-yellow-900'
							>限时价格</span
						>
					</div>
					<ul
						role='list'
						class='m-auto w-max space-y-4 pb-6 text-gray-600 dark:text-gray-300'
					>
						{
							lifetimePlan.features.map(feature => (
								<li class='space-x-2'>
									<span class='font-semibold text-primary dark:text-primary-dark'>
										&check;
									</span>
									<span>{feature}</span>
								</li>
							))
						}
					</ul>
					<button
						class='relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-xl before:bg-primary dark:before:bg-primary-dark before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95'
					>
						<span
							class='relative text-base font-semibold text-white dark:text-dark'
							>{lifetimePlan.button}</span
						>
					</button>
				</div>
			</div>
			<div class='group relative md:col-span-1 lg:w-[32%]'>
				<div
					aria-hidden='true'
					class='absolute top-0 h-full w-full rounded-3xl border border-gray-100 dark:border-gray-700 bg-white dark:bg-gray-800 shadow-2xl shadow-gray-600/10 dark:shadow-none transition duration-500 group-hover:scale-105 lg:group-hover:scale-110'
				>
				</div>
				<div class='relative space-y-8 p-8'>
					<h3
						class='text-center text-3xl font-semibold text-gray-700 dark:text-white'
					>
						{annualPlan.title}
					</h3>
					<div class='-mr-10 flex justify-around'>
						<div class='flex'>
							<span
								class='-ml-6 mt-2 text-3xl font-bold text-primary dark:text-primary-dark'
								>{annualPlan.unit}</span
							>
							<span
								class='leading-0 text-8xl font-bold text-gray-800 dark:text-white'
								>{annualPlan.price}</span
							>
							<span
								class='flex items-end text-xl font-bold text-primary dark:text-primary-dark'
								>{annualPlan.subscript}</span
							>
						</div>
					</div>
					<span
						class='block text-center text-xs text-primary dark:text-primary-dark'
						>{annualPlan.tips}</span
					>
					<ul
						role='list'
						class='m-auto w-max space-y-4 pb-6 text-gray-600 dark:text-gray-300'
					>
						{
							annualPlan.features.map(feature => (
								<li class='space-x-2'>
									<span class='font-semibold text-primary dark:text-primary-dark'>
										&check;
									</span>
									<span>{feature}</span>
								</li>
							))
						}
					</ul>
					<button
						class='relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-xl before:bg-primary dark:before:bg-primary-dark before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95'
					>
						<span
							class='relative text-base font-semibold text-white dark:text-dark'
							>{annualPlan.button}</span
						>
					</button>
				</div>
			</div>
		</div>
	</Container>
</div>
